<div class="container" style="background: rgb(219, 219, 250);">

  <nav class="navbar navbar-expand-lg navbar-light" style="padding-top: 5px; padding-left: 5px; border-radius: 3px; background-color: rgb(175, 175, 233);">
    <a class="navbar-brand" href="/"><img src="https://logodownload.org/wp-content/uploads/2016/03/ticket-logo.png" alt="Logo" id="logo" width="50"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
  
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

        <li class="nav-item">
          <a href="/admin/orders" class="nav-link active" style="color: rgb(255, 234, 234);"><strong>Pedidos</strong></a>
        </li>
        <li class="nav-item">
          <a href="/admin/new_category" class="nav-link active" style="color: rgb(218, 72, 72);"><strong>Criar Categoria ➕</strong></a>
        </li>
        <li class="nav-item">
          <a href="/admin/new_food" class="nav-link active" style="color: rgb(218, 72, 72);"><strong>Novo Alimento ➕</strong></a>
        </li>

      </ul>
  
    </div>
  </nav><br>